{% extends "blog/base.html" %}
{% block content %}
    <p>
        {{ success }}
    </p>
    <p>
        {{ uploadMessage }}
    </p>
    <p>
        {{ error }}
    </p>
    <form method="POST" enctype="multipart/form-data"/>
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %}<input type="file" name="photo" >
        gray scale : <input type="checkbox" name="grayScale">
        {% endcomment %}
        <input type="submit" name="showPhoto" value="Show">
        <input type="submit" name="submitShare" value="Share">

    </form>
    <div>
        {% if photoUrl %}
            <img src="/media/{{ photoUrl }}">
        {% endif %}
    </div>
{% endblock content %}
